body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

.grid-container {
  display: grid;
  grid-template-columns: 0.3fr 0.7fr;
  grid-template-rows: 0.1fr 0.9fr 20px;
  width: 100%;
  height: 100%;
}

.todo-list {
  background-color: skyblue;
  grid-column: 1/3;
  display: grid;
  grid-template-columns: 0.3fr 0.7fr;
}

.my-projects-flex {
  display: flex;
  justify-content: space-around;
}

.my-projects-plus {
  color: white;
  background-color: transparent;
  border: none;
  font-size: xx-large;
}

.nav-bar {
  background-color: black;
  color: white;
}

.nav-list {
  display: flex;
  flex-direction: column;
  gap: 5vw;
  list-style: none;
  font-size: x-large;
  padding: 0;
  text-align: center;
}

.todo-list-text {
  grid-column: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  padding-left: 50px;
}

footer {
  grid-column: 1/3;
  /* justify-self: center;
  align-self: end; */
  text-align: center;
  background-color: black;
  color: white;
}

.hover:hover {
  border: 2px orange solid;
}
