body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

.grid-container {
  display: grid;
  grid-template-columns: 0.3fr 0.7fr;
  grid-template-rows: 0.1fr 0.9fr 20px;
  width: 100%;
  height: 100%;
}

.todo-list {
  background-color: skyblue;
  grid-column: 1/3;
}

.my-projects-flex {
  display: flex;
  gap: 20px;
}

.my-projects-button {
  background-color: transparent;
}

footer {
  grid-column: 1/3;
  /* justify-self: center;
  align-self: end; */
  text-align: center;
  background-color: black;
  color: white;
}
